{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block banner %}
{% image page.banner_image fill-1200x600 format-webp as bg_img %}
<div class="HomePage__Entry" style="background: url('{{ bg_img.url }}');">
    <div class="HomePage__Container">
        <div class="HomePage__ContentWrapper">
            <!-- <h1 class="HomePage__Title" >{{page.title}}</h1> -->
            <h2 class="HomePage__Subtitle" >{{page.lead_text}}</h2>
            <a class="Button Button--Primary"  href="{{page.button.url}}">
                <p class="Button__Text">{{page.button_text}}</p>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>

{% endblock banner %}

{% block content %}
<h3>hej</h3>
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}

{% endblock content %}
