{% load static menu_tags %}
{% get_menu "header" as navigation %}

<header class="Header">
    <nav class="Header__Nav">
        <a href="/" class="Header__Logo">
            <img src="{% static '/icons/logo_white.svg' %}" alt="">
        </a>
        <div class="Header__NavAndUserWrapper">
            <ul class="Header__NavList">
                {% for item in navigation.menu_items.all %}
                <li class="Header_ListItem">
                    <a href="{{item.url}}" class="Header__NavLink">{{item.title}}</a>
                </li>
                {% endfor %}
            </ul>
            {% if request.user.is_authenticated %}
            <div class="Header__UserSpacing"></div>
            <div class="Header__UserIcon">
                <i class="fas fa-house-user"></i>
            </div>
            <div class="Header__UserWrapper">
                <div class="Header__UserName">
                    Inloggad som <strong>{{request.user.username}}</strong>
                </div>
                <!-- <div class="Header__UserLabel">
                    Inloggad
                </div> -->
                <a class="Header__UserLogout Button Button--Primary Button--Small" href="{% url 'account_logout' %}">Logga ut <i class="fas fa-door-open"></i></a>
            </div>
        </div>
        {% endif %}

    </nav>
</header>