{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
    
{% endblock %}

{% block banner %}


{% endblock banner %}

{% block content %}
<div class="BlogListingsPage">
    {% image page.page_image fill-1200x400 format-webp as bg_img %}
    <div class="BlogListingsPage__BackgroundImage" style="background: url('{{bg_img.url}}'); height: 40rem;">
        <div class="BlogListingsPage__BackgroundImageContentWrapper">
            <div class="BlogListingsPage__HeadlineWrapper">
                <h1 class="BlogListingsPage__Headline">{{page.headline}}</h1>   
                {% if page.subtitle %}
                <h2 class="BlogListingsPage__Subtitle">{{page.subtitle}}</h2>
                {% endif %}
            </div>
            <div class="BlogListingsPage__ButtonsWrapper">
                <a class="BlogListingsPage__Button Button Button--Primary Button--Small"  href="/admin/pages/add/blogs/blogpage/4/">
                    <p class="Button__Text Button__Text--Small">Skriv nytt blogginlägg</p>
                    <!-- <div class="Button__IconWrapper"> -->
                        <i class="far fa-file-alt"></i>
                    <!-- </div> -->
                </a>
                <a class="BlogListingsPage__Button Button Button--Primary Button--Small"  href="/admin/pages/4/">
                    <p class="Button__Text Button__Text--Small">Redigera blogginlägg</p>
                    <i class="far fa-edit"></i>
                </a>
                <a class="BlogListingsPage__Button Button Button--Primary Button--Small"  href="#">
                    <p class="Button__Text Button__Text--Small">Lär dig skriva blogginlägg</p>
                    <i class="fas fa-question"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="BlogListingsPage__CardsWrapper">

        {% for post in posts %}
        {% image post.presentation_image fill-420x300 format-webp as img %}
        <article class="Card">
            <a class="Card__Link" href="{{post.url}}"></a>
            <div class="Card__ContentWrapper">
                <h2 class="Card__Title">{{post.title}}</h2>
                <h3 class="Card__Description">{{post.description}}</h3>
                <span class="Card__Author">Skriven av {{post.owner}}, den {{post.published}}</span>
            </div>
            <div class="Card__Image" style="background: url('{{img.url}}');"></div>
        </article>
        {% endfor %}

    </div>
    {% if posts.paginator.num_pages > 1 %}
    <div class="Pagination">
        
      <ul class="Pagination__Wrapper">

            {% if posts.has_previous %}
              <li class="Pagination__PageItem">
                <a href="?page={{ posts.previous_page_number }}" class="Pagination__PageLink">
                    <i class="fas fa-arrow-left"></i>
                </a>
              </li>
            {% endif %}

            {% for page_num in posts.paginator.page_range %}
                {% if page_num == posts.number %}
                <li class="Pagination__PageItem Pagination__PageItem--Active">
                        {{ page_num }}
                </li>
                {% else %}
                <li class="Pagination__PageItem">
                    <a href="?page={{ page_num }}" class="Pagination__PageLink">
                        {{ page_num }}
                    </a>
                </li>
              {% endif %}
            {% endfor %}

            {% if posts.has_next %}
              <li class="Pagination__PageItem">
                <a href="?page={{ posts.next_page_number }}" class="Pagination__PageLink">
                    <i class="fas fa-arrow-right"></i>
                </a>
              </li>
            {% endif %}

      </ul>
    </div>
  {% endif %}
</div>
{% endblock content %}