.ImageAndText{
    display: flex;

    &--Right{
        flex-direction: row-reverse;
    }

    p{
        max-width: 100%;
    }

    &--Left &__Figure{
        margin-right: 3rem;
    }
    
    &--Right &__Figure{
        margin-left: 3rem;
    }

    &__Figcaption{
        margin-bottom: $blockMargin;
    }
}